{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row margin_5">
            {% for projet in projets %}
                <div class="col-lg-4 text-center">
                    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                    <h2>{{ projet.titre }}</h2>
                        <p class="text-justify">
                            {{ projet.description | slice:":200"  }}
                        </p>
                    <p><a href="{% url 'project/project_view' id_projet=projet.id %} "><button class="btn btn-dark" role="button"> View details »</button></a></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block test %}
    <p>this is a test</p>
{% endblock %}