{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row margin_5">
            <h4>List des projets du plus ancien au plus récent :</h4>
            {% for projet in list_of_all_project %}
                <div class="col-lg-4 text-center margin_5">
                {% if projet.image %}
                    <img class="img-circle" src="{{ projet.image.url }}" alt="Photo du projet" width="140" height="140">
                {% else %}
                    <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                {% endif %}
                    <h2>{{ projet.titre }}</h2>
                        <p class="text-justify">
                            {{ projet.description | slice:":200"  }}
                        </p>
                    <p><a href="{% url 'project/project_view' id_projet=projet.id %} "><button class="btn btn-dark" role="button"> View details »</button></a></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}